In [ ]:
# Create a Boolean variable named x

x = bool(input()) 
print(x)
print (type(x))

In [ ]:
# Create an integer variable named y

y = int(input())   
print(y)
print (type(y))

In [ ]:
# Create a float variable named z

z = float(input()) 
print(z)
print (type(z))

In [21]:
# Create a string variable names s

s = input()     
print(s)
print (type(s))

In [ ]:
# Can we convert the str to int ? Yes  --- Just put int before value of the variable 

s = int(input())      
print(s)
print (type(s))

In [61]:
# Create a list of numbers from 1 to 5

numbers = [1,2,3,4,5]
print(numbers)
print (type(numbers))

[1, 2, 3, 4, 5]
<class 'list'>

In [60]:
# Create a tuple from 10 to 15

numbers = (10,11,12,13,14,15)
print(numbers)
print (type(numbers))

(10, 11, 12, 13, 14, 15)
<class 'tuple'>

In [58]:
# Convert the list to tuple  --- Just put tuple before list value 

numbers = tuple([1,2,3,4,5])
print(numbers)
print (type(numbers))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [59]:
# Create a dict of 3 values

employee = {'name'   : 'ahmed',
            'age'    : 25  ,
             'Salary': 10000}

# employee = {'name'   : input('name : '),
#             'age'    : int(input('age : ') ) ,
#              'Salary': int(input("salary : ") )}
print(employee)
print (type(employee))

{'name': 'ahmed', 'age': 25, 'Salary': 10000}
<class 'dict'>

In [22]:
# Can we use semi colon ; with python ---- --------(Youtube Search )

Yes

A=5;B=6;C=7
D=A+B+C
print(D)
print(A+B)

18
11

In [26]:
# Why there is an error ?--------------what's ':=' mean?

A=5,B=6,C=7
D=A+B+C
print(D)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1554073648.py, line 3)

In [ ]:
# Python is interpreted or compiled ?

interpreted ---Line by line

In [ ]:
# What is the differences between low level & high level

High  ـــــــــ                           Low
Easy                                Hard
nearst to Human lang.              nearst to Machine lang. 
assemplar translator               compiler/interpreter translator
More Memory                        Less Memory
Programming Lang.                  Machine Lang.

In [ ]:
# What is the differences between = , ==

= ---- equal
== ---- checks for equality

In [ ]:
# What do we mean by using !=

!= ---- Not equal

In [ ]:
# What is the operator precedence

priorities to apply operators

In [ ]:
# Create a variable x with value of 10

# x = 10

In [1]:
# Increase x value by 15 using assignment operators
x = 10
x += 15
print (x)

25

In [10]:
# Divide the x value by 5 using assignment operators

# x = 10
# x = x/5

# print(x)

x = 10
y = x/5

print(y)  

# Value of divide is float data type

2.0

In [11]:
# Multiply the x value by 10 using assignment operator

x = 10
y = x/10

print(y)

1.0

In [12]:
# Get module of x on 3 using assignment operators
x = 10
y = x%3

print(y)

1

In [13]:
# Using python print the module of 11 to 4
x = 11
y = x%4

print(y)

3

In [14]:
# Print the exponent of 2,3

print(2**3)

8

In [17]:
# Divide 11 by 3 using python division

x=11
y=3

z = x/y

print (z)

3.6666666666666665

In [18]:
# Can we divide 11 by 3 and get an integer number ?

x=11
y=3

z = int(x/y)

print (z)

3

In [44]:
# Check if 10 is bigger than 15 or not

if 10>15 : pass

In [40]:
# If 10 is not bigger than15 print x is smaller than 15

x=10

if not x>15 :
    print ("x is smaller than 15")

x is smaller than 15

In [ ]:
# In which cases we will use all

when we use if with each condition

In [ ]:
# What is the differences between all , and

all --- using if before each condition even condition True or fals
and --- all conditions should be True

In [ ]:
# What is the differences between any , or

the same

In [ ]:
# If we need all the conditions to be true we will use ….

and

In [ ]:
# What is the differences between if , elif

if -- saying condition
elif --- saying if privious conditions not true try this one

In [ ]:
# What is the differences between elif else

elif --- saying if privious conditions not true try this one
else --- saying last try if there are no privious true condithions

In [ ]:
# Can we use more than one elif
Yes

In [ ]:
Can we use more than one else
No

In [47]:
# write s simple ternary operator

x = 10
y = 15
print("x") if x > y else print("y")

y

In [ ]:
# in elif , python will check all the conditions no matter what ?
python didn't check other elif conditions if there is True one

In [ ]:
# in elif we use else for ... ?
false condition

In [ ]:
# if we have this list [2,4,6,8,10] :

In [48]:
# check to see if 4 in this list or not

x= [2,4,6,8,10]
if 4 in x :print ("Yes")

Yes

In [49]:
# check to see if 4 and 6 in this list on not

x= [2,4,6,8,10]
if 4 and 6 in x :print ("Yes")

Yes

In [50]:
# check to see if 3 or 6 in this list

x= [2,4,6,8,10]
if 3 or 6 in x :print ("Yes")

Yes

In [56]:
# check to see if 2 , 4 and 5 in this list
x= [2,4,6,8,10]
if 2 and 4 and 5 in x print ("Yes") else  print ("No")   ----------Why error

SyntaxError: invalid syntax (2571772115.py, line 3)

In [57]:
# check to see if 2 , 4 and 5 in this list
x= [2,4,6,8,10]
print ("Yes")if 2 and 4 and 5 in x  else  print ("No")

No